.filter {
  background: var(--main-color);

  padding-top: 5rem;
  padding-bottom: 7rem;

  &__main {
    position: relative;

    h2 {
      font-weight: 600;
      font-size: 52px;
      line-height: 79px;

      text-align: center;
      color: #ffffff;

      padding: 0 15rem;
    }
  }

  &__select {
    position: absolute;
    bottom: -10rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #ffffff;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 242px;
      height: 80px;

      border-right: 1px solid #3333332f;

      img {
        margin-right: 10px;
      }

      select {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }

    button {
      padding: 2rem;

      background: var(--button-color);
      border-radius: 0px 10px 10px 0px;
      color: white;

      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      &:hover {
        background: var(--light-blue);
      }
      &:active {
        background: var(--dark-blue);
      }
    }
  }
}


