.box__main {
  width: 32%;
  height: 700px;
  background: #ffffff;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 5px;
  margin-top: 5rem;
  // margin-right: auto;

  &__afisha {
    width: 100%;
    height: 55%;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    height: 45%;
    padding: 3rem 1.5rem 1.5rem 3rem;
    p {
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
    }
    .information {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      & > div {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 48%;
        margin-top: 2rem;
        span {
          margin-left: 10px;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
  }
}
